<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test-Stripe</title>

    <link rel="shortcut icon" href="/img/logo_w.png" type="image/x-icon">

    <script src="https://kit.fontawesome.com/fb3e250c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="menu">
            <div class="struct-img">
                <img src="/img/logo_w.png" alt="logo">
            </div>
            <ul class="social">
                <li><a href="https://www.instagram.com/_mxmdevw_/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/MaximeVives"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/maxime-vives-984298179/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <ul class="link">
                <li><a href="/">Accueil</a></li>
                <li><a href="/shop">Boutique</a></li>
                <li><a href="/account">Compte</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>
