@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background: rgba(100, 149, 237, 0.5);
    overflow: hidden;
    height: 100vh;
}

header .menu{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

header .menu .struct-img {
    display: flex;
    justify-content: center;
    height: 130px;
}

header .menu .struct-img img{
    height: 100%;
}

header .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

header .menu ul li{
    margin: 0 15px;
    list-style: none;
}

header .menu ul li a{
    text-decoration: none;
    color: white;
    font-family: "Quicksand";
    font-size: 20px;
}

header .menu .link li a {
    position: relative;
}
header .menu .link li a::after {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .4em;
    background: #F5C7B2;
    z-index: -1;
    opacity: 0.8;
    transition: transform .3s;
}
header .menu .link li a:hover::after {
    transform: scaleX(1);
}



header .menu .social{

}

header .menu .social li{
    margin: 0 10px;
}

header .menu .social li i{
    color: white;
    font-size: 22px;
    transition: 0.3s;
}


/*header .menu .social li:nth-child(1) i:hover {*/
/*    background: linear-gradient(45deg, rgba(81, 91, 212, 1) 0%, rgba(129, 52, 175, 1) 25%, rgba(221, 42, 123, 1) 50%, rgba(254, 218, 119, 1) 75%, rgba(245, 133, 41, 1) 100%);*/
/*    background-clip: text;*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/

/*}*/

/*header .menu .social li:nth-child(2) i:hover{color: #2b3137;}*/
/*header .menu .social li:nth-child(3) i:hover{color: rgb(0, 119, 181);}*/

header .menu .social li i:hover{
    color: #F5C7B2;
}

main{
    padding: 100px 0 0 0;
    height: 100%;
}


.content .title{
    display: flex;
    justify-content: center;
    font-size: 75px;
    color: white;
    flex-direction: column;
    margin: 100px 0 0 270px;
}

.content .title span{
    margin-left: 190px;
    font-size: 120px;
    color: #FFF;
    position: relative;
    width: fit-content;
}

.content .title span::after{
    content: '';
    transform-origin: 0 0;
    transform: scaleX(1);
    position: absolute;
    bottom: 0;
    left: 20px;
    right: -20px;
    height: .4em;
    background: #F5C7B2;
    z-index: -1;
    opacity: 0.8;
}



.bodymovinanim{
    height: 700px;
    position: absolute;
    top: 120px;
    right: -370px;
    opacity: 0.6;
}


/*PAYMENT Section*/
.payment{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.payment .product-card{
    width: 450px;
    height: 550px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    margin: 10px auto 30px;
    background: rgba(100, 149, 237, 1);
}

.payment .product-card .product-img{
    margin: 10px;
    height: 270px;
    width: 270px;
}

.payment .product-card .product-img img{
    height: 100%;
    width: 100%;
}

.payment .product-card .product-descr{
    margin: 10px;
}

.payment .product-card .product-descr h2{
    margin: 0 20px;
    text-align: center;
    padding: 0 0 5px 0;
    color: #F5C7B2;
}

.payment .product-card .product-descr p{
    margin: 20px 10px;
    text-align: justify;
}

.payment .product-card .product-descr span a{
    /*display: flex;*/
    margin: 10px;
    color: #F5C7B2;
    text-decoration: underline;
    font-size: 20px;
    float: right;
}


.buy{
    display: flex;
}

.valid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy form button{
    margin: 30px 0 0 0;
    font-size: 24px;
    padding: 5px 10px;
    background: #F5C7B2;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buy form button:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 1200px){
    .content .title{
        margin: 100px 0 0 70px;
    }
}

@media screen and (max-width: 980px){
    .bodymovinanim{
        position: initial;
    }
    .content .title{
        margin: 100px 0;
        text-align: center;
    }
}